<div class ="container">
    <% @trees.each do |tree| %>
        <%= link_to tree.name, tree_path(tree) %> <p></p>
        <%= tree.address%> <p></p>
        <%= tree.description %> <p></p>
        <%= tree.fruit_type %> <p></p>
        <%= tree.price_per_year %> <p></p>
        <%= tree.quantity_per_year %> <p></p>
        <%= link_to "Edit", edit_tree_path(tree) %> <p></p>
    <% end %>

    <%= link_to "Create a tree", new_tree_path(@tree) %>

    <%= link_to "Adoptions Index", adoptions_path%>
    <%# Doesn't work but I don't know why - Guess is instance variable @tree is not defined on my trees/index.  %>



</div>