<div class ="container">
    <% @trees.each do |tree| %>
        <%= link_to tree.name, tree_path(tree) %> <p></p>
        <%= tree.address%> <p></p>
        <%= tree.description %> <p></p>
        <%= tree.fruit_type %> <p></p>
        <%= tree.price_per_year %> <p></p>
        <%= tree.quantity_per_year %> <p></p>
        <%= link_to "Edit", edit_tree_path(tree) %> <p></p>
        <%= link_to "Delete", tree_path(tree), method: :delete, data: { confirm: "Are you sure?" } %> <p></p>
    <% end %>

    <%= link_to "Create a tree", new_tree_path(@tree) %>



</div>